*{
    margin:0;
    padding:0;
    box-sizing:border-box;
}

body{

    background:#061a40;

    color:white;

    font-family:Arial, Helvetica, sans-serif;

}

header{

    text-align:center;

    padding:20px;

}

h1{

    font-size:3rem;

}

#board{

    width:95%;

    margin:auto;

    display:grid;

  /*  grid-template-columns:repeat(6,1fr);*/

    gap:8px;

}

.category{

    background:#003566;

    padding:18px;

    text-align:center;

    font-weight:bold;

    min-height:80px;

    display:flex;

    justify-content:center;

    align-items:center;

}

.question{

    background:#004aad;

    color:#ffd60a;

    font-size:2rem;

    font-weight:bold;

    border:none;

    cursor:pointer;

    height:90px;

}

.question:hover{

    background:#005fd4;

}

main{

    padding:20px;

}

#board{

    margin-top:20px;

}

#modal.hidden{
    display:none;
}

#modal{

    position:fixed;

    inset:0;

    background:rgba(0,0,0,.75);

    display:flex;

    justify-content:center;

    align-items:center;

}

.modal-content{

    width:600px;

    background:white;

    color:black;

    padding:30px;

    border-radius:10px;

}

.modal-buttons{

    margin-top:30px;

    display:flex;

    gap:15px;

}

.modal-buttons button{

    padding:12px 20px;

    cursor:pointer;

}
.question.used{

    background:#444;

    color:#999;

    cursor:default;

}

.question:disabled{

    pointer-events:none;

}
